<div ng-show="inProgress">
	<div ng-show="!quizOver">
    <div class="container">
		<h2 id="question">{{question.file}}</h2>
		<ul id="options">
			<li ng-repeat="option in question.options">
				<label>
					<input type="radio" name="answer" value="{{option}}" ng-model="formData.response">
					{{option}}
        </label>
    	</li>

		</ul>
		<button ng-click="checkAnswer(question)" ng-show="answerMode">Submit</button>

    <div ng-show="!answerMode">
			<button ng-click="nextQuestion()" class="next-question">Next</button>
			<span ng-show="correctAns">That is correct!</span>
			<span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
		</div>
	</div>
</div>

	<div ng-show="quizOver">
		<h2>Quiz is over</h2>
		<button ng-click="reset()">Play again</button>
	</div>

	<div id="score">
		Score: {{score}}
	</div>
</div>
